/* header */

.navbar {
    color: black;
    padding: 0;
    margin-bottom: 50px;
}

.navbar .container {
    padding: 0;
}

.navbar-brand {
    background-color: #ffe9a2;
    padding: 20px 20px;
}

.navbar-dark .navbar-brand{
    color: black;
}

.navbar-dark .navbar-brand:hover {
    color: #ffc400;
}

main .container {
    margin-bottom: 30px;
}

@media (max-width:991px) {

    .navbar .container-lg,
    .navbar-brand {
        display: block;
    }

    .navbar-brand {
        margin-right: -1rem;
        margin-left: -1rem;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding: 15px;
    }
}

/* body */

a, h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

#pageName {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffe9a2;
    margin-bottom: 30px;
}

#bioPic {
    width: 100%;
    max-width: 400px;
    height: auto;
}

main {
    background-color: aliceblue;
}


body {
    background-color: lightslategray;
}

/* footer */

footer {
    border-top: solid 15px #ffe9a2 ;
    background-color:#343a40;
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
