/* header */

.navbar {
    color: black;
    padding: 0;
}

.navbar .container {
    padding: 0;
}

.navbar-brand {
    background-color: #ffe9a2;
    padding: 20px 20px;
}

.navbar-dark .navbar-brand{
    color: black;
}

.navbar-dark .navbar-brand:hover {
    color: #ffc400;
}

.nav-item {
    border-right: 1px solid lightslategray;
}

.navbar-nav .nav-link {
    padding: 0 .5rem;
}

.nav-item:last-child {
    border-right: none;
}

@media (max-width:991px) {

    .navbar .container, 
    .navbar .container-lg,
    .navbar-brand {
        display: block;
    }

    .navbar-brand {
        text-align: center;
        margin-right: -1rem;
        margin-left: -1rem;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }

    .navbar-nav .nav-link {
        padding: 15px;
    }
}

/* body */

a, h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.mainBackground {
    background-color: lightslategray;
    padding: 50px;
}

#pageName {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffe9a2;
    margin-bottom: 30px;
}

#bioPic {
    width: 100%;
    max-width: 400px;
    height: auto;
}

main {
    background-color: aliceblue;
}

body {
    background-color: #343a40;
}

.card-img-top {
    
}

.list-group {
    padding-bottom: 20px;
}

@media (max-width:991px) {
    
    img {
        margin-bottom: 30px;
    }

    h2, h3, p {
        text-align: center;
    }
}

/* footer */

footer {
    border-top: solid 15px #ffe9a2 ;
    background-color:#343a40;
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
